In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [5]:
# Read the city data file and store it in a pandas DataFrame.
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head(10)
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          120 non-null    object
 1   driver_count  120 non-null    int64
 2   type          120 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.9+ KB

In [6]:
# Read the ride data file and store it in a pandas DataFrame.
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.head(10)
ride_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2375 entries, 0 to 2374
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   city     2375 non-null   object
 1   date     2375 non-null   object
 2   fare     2375 non-null   float64
 3   ride_id  2375 non-null   int64
dtypes: float64(1), int64(1), object(2)
memory usage: 74.3+ KB

In [43]:
city_data_df.count()

city_data_df.isnull().sum()
city_data_df.dtypes

# Get the unique values of the type of city.

# sum( == "urban")

city_data_df["type"].unique()
print(sum(city_data_df["type"] == "Suburban"))

print(sum(city_data_df["type"] == "Rural"))

36
18

In [22]:
ride_data_df.count()
ride_data_df.isnull().sum()
ride_data_df.dtypes

len(ride_data_df["city"].unique())

120

In [47]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"], sort=True)

# Display the DataFrame
pyber_data_df.head(5)

          city                 date   fare        ride_id  driver_count   type
0  Amandaburgh  2019-03-05 02:15:38  26.28   906850928986            12  Urban
1  Amandaburgh  2019-02-24 23:10:49  43.66  6573820412437            12  Urban
2  Amandaburgh  2019-02-10 20:42:46  36.17  6455620849753            12  Urban
3  Amandaburgh  2019-01-11 02:22:07  29.24  7279902884763            12  Urban
4  Amandaburgh  2019-01-21 04:12:54   9.26  5528427024492            12  Urban